@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Source+Code+Pro&display=swap');

.animate {
  animation-duration: 1s;
}

.animate--infinite {
  animation-iteration-count: infinite;
}

.animate--slow {
  animation-duration: 5s;
}

.animate--fast {
  animation-duration: 1s;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
}

html, body { 
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
}

body{
  background: rgb(1, 3, 20);
  color: white;
  /* background-image: url(images/stars.jpg); */
  background-size: cover;
  background-position: center;
}

#header{
  width: 100%;
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 0%;
  padding: 1%;
  width: 100%;
  position: relative;
}

.container--header {
  margin: 0%;
  padding: 1%;
  width: 100%;
  text-align: right;
}

.frontPageHeading {
  color: rgb(226, 232, 240);
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -1.5px;
  line-height: 60px;
}

.projects {
  height: 400px;
  padding: 1%;
}

.projects.worldGen {
  background-color: #070c18;
  border-radius: 5%;
  height: 375px;
  width: 45%;
  margin: 1%;
  color: rgb(122, 147, 182);
  gap: 5;
  text-align: center;
  flex: 1;
}

.projects--headline {
  text-align: left;
  margin-left: 1%;
  color: rgb(176, 193, 218);
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.links {
  position: absolute;
  width: 100%;
  height: 60px;
  text-align: center;
  margin-bottom: 0px;
  position: relative;
}

 /* unvisited link */
.links a:link, a:visited {
  background-color: #0d0f79;
  color: rgb(205, 179, 206);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10%;
  transition: background-color 0.5s, transform 0.5s;
}

/* mouse over link */
.links a:hover, a:active {
  background-color: #2a2cb4;
  text-decoration: none;
  transform: translateY(-5px);
}

.resume {
  position: absolute; 
  bottom: 0px; 
  left: 46.5%;
}

ul.noBullets {
  list-style-type: none;
  margin: 0%;
  display: inline-flex;
}